/*****************************************

        Global content

*****************************************/


.bg-gray{
    background-color: #dce1e3;
}

.bg-gray-dark{
    background-color: #5c5c58;
}

html{
    scroll-padding-top: 8vh;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 7vh;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 15;
}

article {
    width: 100%;
    overflow-y: auto;
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: burlywood;
}

p{
    display: inline;
}

/*****************************************

        Book slots

*****************************************/


.container_book_class{
    place-self: center;
    width: 95%;
    height: 90vh;
    background-color: #999999;
    padding: 15px;
    margin: 1vh auto;
    border-style: dashed;
    border-color: #666666;
    overflow: auto;
    text-align: center;


}

label {
    vertical-align: top;
    display: inline-block;
    width: 10rem;
    margin: 5px;
}


/*****************************************

        Timer - book slots searching

*****************************************/


.container{
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
    place-items: center;
    background: #dde6f0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.circular{
    height: 100px;
    width: 100px;
    position: relative;
    margin: 10px auto;
}

.circular .inner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.2);
}

.circular .inner{
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  margin: -40px 0 0 -40px;
  background-color: #dde6f0;
  border-radius: 100%;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.circular .circle{
  z-index: 1;
  box-shadow: none;
}

.circular .numb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  font-size: 18px;
  font-weight: 500;
  color: #4158d0;
}

.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #fff;
  -webkit-border-radius: 100%;
  clip: rect(0px, 100px, 100px, 50px);
}

.circle .bar .progress{
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 100%;
  clip: rect(0px, 50px, 100px, 0px);
}

.circle .bar .progress, .dot span{
  background: #4158d0;
}

.circle .left .progress{
  z-index: 1;
  -webkit-animation: left 17s linear both;
}
@-webkit-keyframes left {
  100%{
    transform: rotate(180deg);
  }
}

.circle .right{
  z-index: 3;
  transform: rotate(180deg);
}

.circle .right .progress{
  -webkit-animation: right 18s linear both;
  -webkit-animation-delay: 18s;
}
@-webkit-keyframes right {
  100%{
    transform: rotate(180deg);
  }
}

.circle .dot{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 10px;
  margin-top: -5px;
  -webkit-animation: dot 18s linear both;
  transform-origin: 0% 50%;
}

.circle .dot span {
  position: absolute;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
@-webkit-keyframes dot{
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(270deg);
    z-index: 4;
  }
}


/*****************************************

        Search side - results

*****************************************/

.results_block{
    place-self: center;
    width: 95%;
    height: 68px;
    background-color: #999999;
    padding: 15px;
    margin: 1vh auto;
    border-style: dashed;
    border-color: #666666;
    overflow: auto;
    text-align: center;
}


.results_block_clicked{
    place-self: center;
    width: 95%;
    height: 700px;
    background-color: #999999;
    padding: 15px;
    margin: 1vh auto;
    border-style: dashed;
    border-color: darkkhaki;
    overflow: auto;
    text-align: center;
}

.results_block_clicked:hover{
    background-color: burlywood;
}

.results_block:hover{
    background-color: burlywood;
}

.search_page_edit_form{
    height: 100px
}


/******************************************************

        Search shelve & Search category- results

*******************************************************/

.results_showing_details{
    height: 33vh;
    margin: 5px;
}

.results_not_showing_details{
    height: 7vh;
    overflow: hidden;
    margin: 5px;
}



/********************************************************

    Validation - operation success and failure

 *******************************************************/

.failure_div, .failure_div:hover{
    text-align: center;
    font-size: 40px;
    background-color: #8B0000;
    width: 95%;
    height: 700px;
    z-index: 100;
    color: white;
    padding: 15px;
    margin: 1vh auto;
}


.success_div, .success_div:hover{
    position: relative;
    padding: 15px;
    margin: 1vh auto;
    text-align: center;
    font-size: 40px;
    background-color: #228B22;
    width: 95%;
    height: 700px;
    z-index: 100;
    color: white;
}