{% extends 'main_site.html' %}
{% load static %}

{% block title %}
    <title> Dodaj książke </title>
{% endblock %}

{% block links_header %}
    <script src="{% static 'js/add_book.js' %}"></script>
    <script src="{% static 'js/timer.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/external_window_handlers.js' %}"> </script>
    <link rel="stylesheet" href="{% static 'js/bootstrap-datepicker.css' %}">
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js' %}"> </script>
    <script type="text/javascript" src="{% static 'js/cover_up_windows.js' %}"> </script>
{% endblock %}

{% block main_header %}
    <script>
        document.getElementById("main_header").style="position: sticky; top: 0;";
        function switch_sub_menu(index){
            document.getElementById("part1").style.display = "none";
            document.getElementById("header_part1").className = "slot_sub_menu_inactive col-md-3";

            document.getElementById("part2").style.display = "none";
            document.getElementById("header_part2").className = "slot_sub_menu_inactive col-md-3";

            document.getElementById("part3").style.display = "none";
            document.getElementById("header_part3").className = "slot_sub_menu_inactive col-md-3";

            document.getElementById("part4").style.display = "none";
            document.getElementById("header_part4").className = "slot_sub_menu_inactive col-md-3";

            document.getElementById("part"+index).style.display = "block";
            document.getElementById("header_part"+index).className = "slot_sub_menu_active col-md-3";
        }
    </script>

    <div style="text-align: center; padding: 12px">
        <button onclick="add_book_slot()" class="btn btn-info">
            Dodaj nowy slot na dodawaną książkę
        </button>

        <button onclick="scroll_to_elem('bottom')" class="btn btn-info" >
            Przejść dalej
        </button>

        <p> Slot </p> <p id="slot_text_idx1"> 0 </p> <p> z </p> <p id="slot_text_idx2">  0 </p>

        <button onclick="scroll_to_elem('top')" class="btn btn-info">
            Powrócić
        </button>

        <button onclick="location.href ='/'" class="btn btn-info" style="float: right;"> Menu </button>
    </div>


{% endblock %}

{% block main_article %}

    <datalist id="id_category_list"></datalist>
    <datalist id="id_localization_list"></datalist>
    <datalist id="id_publisher_list"></datalist>
    <datalist id="id_author_list"></datalist>

    <script>
        let list = document.getElementById("id_author_list");
        let option;
        {% for elem in datalist_author %}
            option = document.createElement('option')
            option.value = "{{elem}}"
            list.appendChild(option);
        {% endfor %}

        list = document.getElementById("id_publisher_list")
            {% for elem in datalist_publisher %}
            option = document.createElement('option')
                option.value = "{{elem}}"
                list.appendChild(option)
            {% endfor %}

        list = document.getElementById("id_localization_list")
            {% for elem in datalist_location %}
                option = document.createElement('option')
                option.value = "{{elem}}"
                list.appendChild(option)
            {% endfor %}

        list = document.getElementById("id_category_list")
            {% for elem in datalist_category %}
                option = document.createElement('option')
                option.value = "{{elem}}"
                list.appendChild(option)
            {% endfor %}

    </script>

    <script>
        let organiser = new Basic_stuff();

        let csrfValue = '{{ csrf_token }}';

        function scroll_to_elem(mode){
            let val1 = parseInt(document.getElementById("slot_text_idx1").innerHTML);
            let val2 = parseInt(document.getElementById("slot_text_idx2").innerHTML);


            if ((val1 >= val2 && mode==="bottom") || (val1 <= 1 && mode==="top") || (val1 < 1 && mode==="top" && val2 < 1)) return

            let slots_number = parseInt(document.getElementById("slot_text_idx1").innerHTML)

            if(mode === "bottom")
                document.getElementById("slot_text_idx1").innerHTML = slots_number + 1
            else{
                document.getElementById("slot_text_idx1").innerHTML = slots_number - 1
                slots_number -= 2
            }

            if (organiser.actual_list_node){
                let node = null;
                if(mode === "bottom") node = organiser.actual_list_node.next
                else node = organiser.actual_list_node.prev

                if(node){
                    document.getElementById('container_book' + node.value).scrollIntoView();
                    organiser.actual_list_node = node
                }

            }
            else {
                let root = organiser.list.get_root()
                document.getElementById('container_book' + root.value).scrollIntoView();
                organiser.actual_list_node = root
            }


        }
    </script>

{% endblock %}
