{% extends 'main_site.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
    <title> Kopia zapasowa </title>
{% endblock %}

{% block links_header %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block main_header %}
    <p style="font-size: 40px;"> Utwórz kopie zapasową </p>
{% endblock %}

{% block main_article %}
    <br>
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Wykonaj kopie zapasową" class="btn btn-info"> </input>
    </form>
{% endblock %}